<div class="post">
  <div class="header">
    <h1>Title</h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Autor</strong>
    <small>12.08.20</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit, laudantium nesciunt numquam corporis dolorem velit ipsam, natus maxime ut at nam libero rerum aliquid quod aut dicta adipisci a necessitatibus officia suscipit aliquam! Assumenda, eaque atque, eius ullam, minima harum reiciendis autem veniam omnis quaerat nostrum! Culpa, deleniti ea?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit, laudantium nesciunt numquam corporis dolorem velit ipsam, natus maxime ut at nam libero rerum aliquid quod aut dicta adipisci a necessitatibus officia suscipit aliquam! Assumenda, eaque atque, eius ullam, minima harum reiciendis autem veniam omnis quaerat nostrum! Culpa, deleniti ea?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit, laudantium nesciunt numquam corporis dolorem velit ipsam, natus maxime ut at nam libero rerum aliquid quod aut dicta adipisci a necessitatibus officia suscipit aliquam! Assumenda, eaque atque, eius ullam, minima harum reiciendis autem veniam omnis quaerat nostrum! Culpa, deleniti ea?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit, laudantium nesciunt numquam corporis dolorem velit ipsam, natus maxime ut at nam libero rerum aliquid quod aut dicta adipisci a necessitatibus officia suscipit aliquam! Assumenda, eaque atque, eius ullam, minima harum reiciendis autem veniam omnis quaerat nostrum! Culpa, deleniti ea?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reprehenderit, laudantium nesciunt numquam corporis dolorem velit ipsam, natus maxime ut at nam libero rerum aliquid quod aut dicta adipisci a necessitatibus officia suscipit aliquam! Assumenda, eaque atque, eius ullam, minima harum reiciendis autem veniam omnis quaerat nostrum! Culpa, deleniti ea?</p>
  </div>
</div>
